/*Fonts*/
@font-face{
	font-family: 'TitillumWeb Regular';
	src: url(../fonts/TitilliumWeb-Regular.ttf);
}
@font-face{
	font-family: 'TitillumWeb Bold';
	src: url(../fonts/TitilliumWeb-Bold.ttf);
}
@font-face{
	font-family: 'TitilliumWeb SemiBold';
	src: url(../fonts/TitilliumWeb-SemiBold.ttf);
}
@font-face{
	font-family: 'TitilliumWeb Light';
	src: url(../fonts/TitilliumWeb-Light.ttf);
}
/*Fonts end*/
*{
	box-sizing: border-box;
	margin: 0;
}
.clear{
	clear: both;
}
/*Header Style*/
#header-container{
	width: 100%;
	height: 500px;
	background-color: #87509c;
}
#nav-top{
	position: relative;
	font-family: 'TitillumWeb Regular';
	font-weight: normal;
	width:65%;
	height: 50px;
	top: 30px;
	margin: 0 auto;
	overflow: hidden;
}
#logo{
	float: left;
}
#nav-links{
	float: right;
}
#nav-links a{
	font-size: 14pt;
	text-decoration: none;
	color: #e6ddea;
	padding:2px 13px;

}
#nav-links .active{
	background-color: #643a79;
	width: 30px;
}
#header-content{
	padding-top: 150px;
}
#header-content p{
	color: #f7f3ea;
	font-family: 'TitillumWeb Bold';
	font-weight: bold;
	font-size: 28.16pt;
	text-align: center;
}
#button-header{
	text-align: center;
}
#button-header button{
	font-family: 'TitilliumWeb SemiBold';
	position: relative;
	color: white;
	padding: 20px;
	font-size: 15pt;
	background-color: #eb7d4b;
	border: 0px;
	top: 80px;
	cursor: pointer;
}
/*Service container style*/
#service-container{
	width: 100%;
	height: 650px;
	background-color: #17c2a4;
}
#service-title{
	font-family: 'TitillumWeb Bold';
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 30pt;
	padding-top: 50px;
}
#service-container hr{
	color: #14ad92;
	width: 100px;
	margin: 0 auto;
}
#service-description{
	color: #fff;
	text-align: center;
	font-size: 15pt;
	font-family: 'TitillumWeb Regular';
	font-weight: normal;
	padding-top: 20px;
}
#services{
	margin: 0 auto;
	width: 90%;
	padding-top: 100px;
	padding-left: 140px;
}
.services-pic{
	position: relative;
	margin: 0 auto;
	padding-right: 25px;
}
.services-item{
	width: 300px;
	float: left;
	color: #fff;
	text-align: center;
}
.services-header{
	position: relative;
	padding-right: 100px;
	font-family: 'TitillumWeb Bold';
	font-weight: bold;
	font-size: 13pt;
	text-align: center;
}
.services-description{
	position: relative;
	text-align: center;
	width: 200px;
	font-size: 13pt;
	font-family: 'TitilliumWeb Light';
	font-weight: lighter;
}
.services-item h3{
	padding-top: 30px;
}
/*TEAM container Style*/
#team-container{
	width: 100%;
	height: 850px;
	background-color: #e7f1f8;
}
#team-header{
	font-family: 'TitillumWeb Bold';
	font-weight: bold;
	font-size: 30pt;
	text-align: center;
	color: #3c4761;
	padding-top: 50px;
}
#team-description{
	font-family: 'TitillumWeb Regular';
	font-size: 15pt;
	font-weight: normal;
	color: #3c4761;
	text-align: center;
	padding-top: 20px;
}
#team-container hr{
	color: #c8d9e5;
	width: 100px;
	margin: 0 auto;
}
#members-container{
	width: 90%;
	margin: 0 auto;
}
.team-members{
	padding-left: 100px;
	float: left;
	padding-top: 100px
}
.members-name{
	color: #27283d;
	font-family: 'TitillumWeb Bold';
	font-weight: bold;
	font-size: 19pt;
	text-align: center;
	padding-top: 25px;
}
.member-job{
	font-family: 'TitillumWeb Regular';
	font-weight: normal;
	font-size: 14pt;
	text-align: center;
	color: #70c9eb;
}
.member-description{
	position: relative;
	font-family: 'TitilliumWeb Light';
	font-weight: lighter;
	font-size: 12pt;
	color: #a2acb9;
	text-align: center;
	width: 200px;
	padding-top: 20px;
}
.members-social i{
	float: left;
	color: #bdd1df;
	font-size: 17pt;
	text-align: center;
	padding-top: 20px;
	padding-left: 20px;
}
/*Skills container style*/
#skills-container{
	width: 100%;
	height: 600px;
	background-color: #fff;
}
#skills-title{
	font-family: 'TitillumWeb Bold';
	font-weight: bold;
	font-size: 30pt;
	text-align: center;
	padding-top: 50px;
	color: #3c4761;
}
#skills-container hr{
	color: #dfe8ed;
	width: 100px;
	margin: 0 auto;
}
#skills-description{
	font-family: 'TitillumWeb Regular';
	font-weight: normal;
	font-size: 15pt;
	text-align: center;
	color: #3c4761;
	padding-top: 20px;
}
.ldBar path.mainline{
	stroke-width: 8px;
	stroke: #30bae7;
	stroke-linecap: round;
}
.ldBar{
	width: 150px !important;
	height: 150px !important;
}
.pink path.mainline{
	stroke: #d74680;
}
.green path.mainline{
	stroke: #82e1d1;
}
.orange path.mainline{
	stroke: #eb7d4b;
}
.ldBar path.baseline{
	stroke-width: 8px;
	stroke: #dfe8ed;
	stroke-linecap: round;
}
.label-center{
	font-family: 'TitilliumWeb Light';
	font-weight: lighter;
	font-size: 20pt;
}
.skills-item{
	position: relative;
	left: 200px;
	
}
.progress-bar{
	float: left;
}
#skill-items{
	width: 70%;
	margin: 0 auto;
	padding-top: 100px;
}
.skill-title{
	font-family: 'TitillumWeb Bold';
	font-weight: bold;
	font-size: 15pt;
	text-align: center;
	padding-top: 10px;
	color: #3c4761;
}